<div class="jumbotron my-5">
  <h1 class="display-4">Stars wars, instructions!</h1>
  <p class="lead">
    - La landing page doit afficher la liste des vaisseaux de Star Wars avec un résumé des
    spécifications de chaque vaisseau sur chaque ligne.<br>
    - Cliquer sur une ligne affiche le détail du vaisseau qui inclut une liste des pilotes.<br>
    - Cliquer sur un pilote de cette liste nous amène au détail du pilote.
  </p>
  <hr class="my-4">
  <p> Cette application se connecter à l’API publique https://swapi.dev/ pour les données</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['vaisseaux']" role="button">Voir les vaisseaux</a>
  </p>
</div>
